body { background-color: darkseagreen;
height: 200vh; /* fera apparaitre une barre de scrolle*/
}

#btn_1 , #btn_2 { 
    background-color: rgb(241, 165, 93);
}
.click_event {
    text-align: center;
    border: 1px solid black;
}
.p1 ,.p2 {
    /* visibility: hidden;  ou*/
    display: none;
}

.showResponse {
    display : block ;  /*visibility: visible;  pour que lemplacement ne soit pas reserver */
    color: green;
    font-size: 2em;
    font-weight: bold;
}
.showBadResponse {
    display : block ; 
    color: rgb(202, 38, 38);
    font-size: 2em;
    font-weight: bold;
}
.mouse {
    height: 50px;
    width: 50px;
    border: 2px solid red;
    border-radius: 50px;
    position: absolute;
    transform: translate(-50%,-50%); /* centrer la souris dans le cercle */
    z-index: -1; /*pour cliqué sur un element malgré quon soit à linterieur du cercle.*/
    
}



nav {
    background-color: rgb(38, 133, 133);
    width: 100%;
    color: white;
    position: fixed; /* barre ne bouge pas*/
    top : -50%; /* cacher sa barre de nav, qui apparaitra que lorsquon va scroller*/
    transition : ease 0.5s; /* pour que la barre de scroll apparaisse plus lentement*/

}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    ;
    height: 50px;

}