.info {
    background-color: aquamarine;
    height: 500px;
    width: 500px;
    margin-left: 25%;
}

.div, .select {
    display: flex;
    justify-content: center;
    width: 500px;
    margin-left: 25%;
    border-style: solid 90px;
    
}

